<button mat-button [ngClass]="{'mat-raised-button':type=='raised','mat-stroked-button':type=='stroked'}" [color]="state"
    [disabled]="(showProgress && clicked) || disabled" (click)="onClick($event)" [ngStyle]="{width: width}">
    <span class="hidden"
        [ngClass]="{'visible': !showProgress || !clicked,'hidden':showProgress || clicked}">{{text}}</span>
    <mat-progress-spinner class="hidden" mode="determinate" diameter="20" [value]="value"
        [ngClass]="{'visible': clicked}" *ngIf="showProgress">
    </mat-progress-spinner>
</button>