.hidden {
    opacity: 0;
    transition: opacity ease-in-out .2s;
}
.visible {
    opacity: 1;
}
:host/deep/.mat-progress-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    circle{
        stroke: #fff;
    }
} 