.tsi{
  font-style: normal; 
}
.tsi-currency-cny::before, .tsi-currency-jpy::before{
  content: '\00A5';
}
.tsi-currency-eur::before{
  content: '\20AC';
}
.tsi-currency-gbp::before{
  content: '\00A3';
}
.tsi-currency-usd::before{
  content: '\0024';
}
.tsi-currency-idr::before{
  content: 'Rp';
}
.tsi-currency-aud::before{
  content: 'A\0024';
}
.tsi-currency-cad::before{
  content: 'C\0024';
}
.tsi-currency-dkk::before{
  content: 'Kr.';
}
.tsi-currency-hkd::before{
  content: 'HK\0024';
}
.tsi-currency-nzd::before{
  content: 'NZ\0024';
}
.tsi-currency-nok::before,
.tsi-currency-sek::before{
  content: 'kr';
}
.tsi-currency-sgd::before{
  content: 'S\0024';
}
.tsi-currency-chf::before{
  content: 'Fr.';
}
.tsi-currency-thb::before{
  content: '\0E3F';
}
// Other new Currencies
.tsi-currency-afn::before{
  content: 'AFN';
}
.tsi-currency-all::before{
  content: 'ALL';
}
.tsi-currency-amd::before{
  content: 'AMD';
}
.tsi-currency-ang::before{
  content: 'ANG';
}
.tsi-currency-aoa::before{
  content: 'AOA';
}
.tsi-currency-ars::before{
  content: 'ARS';
}
.tsi-currency-awg::before{
  content: 'AWG';
}
.tsi-currency-azn::before{
  content: 'AZN';
}
.tsi-currency-bam::before{
  content: 'BAM';
}
.tsi-currency-bbd::before{
  content: 'BBD';
}
.tsi-currency-bdt::before{
  content: 'BDT';
}
.tsi-currency-bgn::before{
  content: 'BGN';
}
.tsi-currency-bif::before{
  content: 'BIF';
}
.tsi-currency-bmd::before{
  content: 'BMD';
}
.tsi-currency-bnd::before{
  content: 'BND';
}
.tsi-currency-bob::before{
  content: 'BOB';
}
.tsi-currency-brl::before{
  content: 'BRL';
}
.tsi-currency-bsd::before{
  content: 'BSD';
}
.tsi-currency-bwp::before{
  content: 'BWP';
}
.tsi-currency-bzd::before{
  content: 'BZD';
}
.tsi-currency-cdf::before{
  content: 'CDF';
}
.tsi-currency-clp::before{
  content: 'CLP';
}
.tsi-currency-cny::before{
  content: 'CNY';
}
.tsi-currency-cop::before{
  content: 'COP';
}
.tsi-currency-crc::before{
  content: 'CRC';
}
.tsi-currency-cve::before{
  content: 'CVE';
}
.tsi-currency-czk::before{
  content: 'CZK';
}
.tsi-currency-djf::before{
  content: 'DJF';
}
.tsi-currency-dop::before{
  content: 'DOP';
}
.tsi-currency-dzd::before{
  content: 'DZD';
}
.tsi-currency-egp::before{
  content: 'EGP';
}
.tsi-currency-etb::before{
  content: 'ETB';
}
.tsi-currency-fjd::before{
  content: 'FJD';
}
.tsi-currency-fkp::before{
  content: 'FKP';
}
.tsi-currency-gel::before{
  content: 'GEL';
}
.tsi-currency-gip::before{
  content: 'GIP';
}
.tsi-currency-gmd::before{
  content: 'GMD';
}
.tsi-currency-gnf::before{
  content: 'GNF';
}
.tsi-currency-gtq::before{
  content: 'GTQ';
}
.tsi-currency-gyd::before{
  content: 'GYD';
}
.tsi-currency-hnl::before{
  content: 'HNL';
}
.tsi-currency-hrk::before{
  content: 'HRK';
}
.tsi-currency-htg::before{
  content: 'HTG';
}
.tsi-currency-huf::before{
  content: 'HUF';
}
.tsi-currency-ils::before{
  content: 'ILS';
}
.tsi-currency-isk::before{
  content: 'ISK';
}
.tsi-currency-jmd::before{
  content: 'JMD';
}
.tsi-currency-kes::before{
  content: 'KES';
}
.tsi-currency-kgs::before{
  content: 'KGS';
}
.tsi-currency-khr::before{
  content: 'KHR';
}
.tsi-currency-kmf::before{
  content: 'KMF';
}
.tsi-currency-krw::before{
  content: 'KRW';
}
.tsi-currency-kyd::before{
  content: 'KYD';
}
.tsi-currency-kzt::before{
  content: 'KZT';
}
.tsi-currency-lak::before{
  content: 'LAK';
}
.tsi-currency-lbp::before{
  content: 'LBP';
}
.tsi-currency-lkr::before{
  content: 'LKR';
}
.tsi-currency-lrd::before{
  content: 'LRD';
}
.tsi-currency-lsl::before{
  content: 'LSL';
}
.tsi-currency-mad::before{
  content: 'MAD';
}
.tsi-currency-mdl::before{
  content: 'MDL';
}
.tsi-currency-mga::before{
  content: 'MGA';
}
.tsi-currency-mkd::before{
  content: 'MKD';
}
.tsi-currency-mmk::before{
  content: 'MMK';
}
.tsi-currency-mnt::before{
  content: 'MNT';
}
.tsi-currency-mop::before{
  content: 'MOP';
}
.tsi-currency-mro::before{
  content: 'MRO';
}
.tsi-currency-mur::before{
  content: 'MUR';
}
.tsi-currency-mvr::before{
  content: 'MVR';
}
.tsi-currency-mwk::before{
  content: 'MWK';
}
.tsi-currency-mxn::before{
  content: 'MXN';
}
.tsi-currency-myr::before{
  content: 'MYR';
}
.tsi-currency-mzn::before{
  content: 'MZN';
}
.tsi-currency-nad::before{
  content: 'NAD';
}
.tsi-currency-ngn::before{
  content: 'NGN';
}
.tsi-currency-nio::before{
  content: 'NIO';
}
.tsi-currency-npr::before{
  content: 'NPR';
}
.tsi-currency-pab::before{
  content: 'PAB';
}
.tsi-currency-pen::before{
  content: 'PEN';
}
.tsi-currency-pgk::before{
  content: 'PGK';
}
.tsi-currency-php::before{
  content: 'PHP';
}
.tsi-currency-pkr::before{
  content: 'PKR';
}
.tsi-currency-pln::before{
  content: 'PLN';
}
.tsi-currency-pyg::before{
  content: 'PYG';
}
.tsi-currency-qar::before{
  content: 'QAR';
}
.tsi-currency-ron::before{
  content: 'RON';
}
.tsi-currency-rsd::before{
  content: 'RSD';
}
.tsi-currency-rub::before{
  content: 'RUB';
}
.tsi-currency-rwf::before{
  content: 'RWF';
}
.tsi-currency-sar::before{
  content: 'SAR';
}
.tsi-currency-sbd::before{
  content: 'SBD';
}
.tsi-currency-scr::before{
  content: 'SCR';
}
.tsi-currency-shp::before{
  content: 'SHP';
}
.tsi-currency-sll::before{
  content: 'SLL';
}
.tsi-currency-sos::before{
  content: 'SOS';
}
.tsi-currency-srd::before{
  content: 'SRD';
}
.tsi-currency-std::before{
  content: 'STD';
}
.tsi-currency-svc::before{
  content: 'SVC';
}
.tsi-currency-szl::before{
  content: 'SZL';
}
.tsi-currency-tjs::before{
  content: 'TJS';
}
.tsi-currency-top::before{
  content: 'TOP';
}
.tsi-currency-try::before{
  content: 'TRY';
}
.tsi-currency-ttd::before{
  content: 'TTD';
}
.tsi-currency-twd::before{
  content: 'TWD';
}
.tsi-currency-tzs::before{
  content: 'TZS';
}
.tsi-currency-uah::before{
  content: 'UAH';
}
.tsi-currency-ugx::before{
  content: 'UGX';
}
.tsi-currency-uyu::before{
  content: 'UYU';
}
.tsi-currency-uzs::before{
  content: 'UZS';
}
.tsi-currency-vnd::before{
  content: 'VND';
}
.tsi-currency-vuv::before{
  content: 'VUV';
}
.tsi-currency-wst::before{
  content: 'WST';
}
.tsi-currency-xaf::before{
  content: 'XAF';
}
.tsi-currency-xcd::before{
  content: 'XCD';
}
.tsi-currency-xof::before{
  content: 'XOF';
}
.tsi-currency-xpf::before{
  content: 'XPF';
}
.tsi-currency-yer::before{
  content: 'YER';
}
.tsi-currency-zar::before{
  content: 'ZAR';
}
.tsi-currency-zmw::before{
  content: 'ZMW';
}