@import '~@angular/material/theming';
// Re defining disable button color
@mixin _mat-button-theme-property($theme, $property, $hue) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  &.mat-primary {
    #{$property}: mat-color($primary, $hue);
  }
  &.mat-accent {
    #{$property}: mat-color($accent, $hue);
  }
  &.mat-warn {
    #{$property}: mat-color($warn, $hue);
  }

  &.mat-primary, &.mat-accent, &.mat-warn, &[disabled] {
    &[disabled] {
      opacity: 0.8;
    }
  }
}

$ts-typography: mat-typography-config($font-family: '"Open Sans", sans-serif;');
@include mat-core($ts-typography);

$ts-purple: (
  50: #EDE7F2,
  100: #D2C2DF,
  200: #B49ACA,
  300: #9572B4,
  400: #7F53A4,
  500: #683594,
  600: #60308C,
  700: #552881,
  800: #4B2277,
  900: #3A1665,
  A100: #C79EFF,
  A200: #A96BFF,
  A400: #8B38FF,
  A700: #7D1FFF,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$ts-pink: (
  50: #F9E4ED,
  100: #F1BBD2,
  200: #E88EB4,
  300: #DE6095,
  400: #D73E7F,
  500: #D01C68,
  600: #CB1960,
  700: #C41455,
  800: #BE114B,
  900: #B3093A,
  A100: #FFDFE6,
  A200: #FFACBF,
  A400: #FF7998,
  A700: #FF5F85,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$ts-app-primary: mat-palette($ts-purple);
$ts-app-accent:  mat-palette($ts-pink, 500, 900, A100);
$ts-app-warn:    mat-palette($mat-deep-orange);
$ts-app-theme: mat-light-theme($ts-app-primary, $ts-app-accent, $ts-app-warn);

@include mat-core-theme($ts-app-theme);
@include mat-button-theme($ts-app-theme);
@include mat-form-field-theme($ts-app-theme);
@include mat-input-theme($ts-app-theme);
@include mat-progress-spinner-theme($ts-app-theme);
@include mat-select-theme($ts-app-theme);

$mat-form-field-width: inherit !default;
.mat-form-field{
  width: $mat-form-field-width;
  &-appearance-legacy .mat-form-field-underline{
    background-color: rgba(0, 0, 0, 0.22);
  }
}
