// @import '~@angular/material/theming';
@import './mat-palette';

// Re defining disable button color
@mixin _mat-button-theme-property($theme, $property, $hue) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  &.mat-primary {
    #{$property}: mat-color($primary, $hue);
  }
  &.mat-accent {
    #{$property}: mat-color($accent, $hue);
  }
  &.mat-warn {
    #{$property}: mat-color($warn, $hue);
  }

  &.mat-primary, &.mat-accent, &.mat-warn, &.mat-primary--inverted, &[disabled] {
    &[disabled] {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}

$font-family: '"Open Sans", sans-serif;' !default;
$ts-typography: mat-typography-config($font-family);
@include mat-core($ts-typography);

$ts-app-primary: mat-palette($ts-purple);
$ts-app-accent:  mat-palette($ts-pink, 500, 900, A100);
$ts-app-warn:    mat-palette($mat-deep-orange);
$ts-app-theme: mat-light-theme($ts-app-primary, $ts-app-accent, $ts-app-warn);

@include mat-core-theme($ts-app-theme);
@include mat-button-theme($ts-app-theme);
@include mat-form-field-theme($ts-app-theme);
@include mat-input-theme($ts-app-theme);
@include mat-progress-spinner-theme($ts-app-theme);
@include mat-select-theme($ts-app-theme);
@include mat-progress-bar-theme($ts-app-theme);
@include mat-checkbox-theme($ts-app-theme);

$mat-form-field-width: inherit !default;
.mat-form-field{
  width: $mat-form-field-width;
  &-appearance-legacy .mat-form-field-underline{
    background-color: rgba(0, 0, 0, 0.22);
  }
}
.mat-bottom-sheet-container{
  box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);
  background: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  min-width: calc(100vw - 15px)!important;
  &.remove-padding{
    padding: 0;
  }
}
