<mat-form-field [floatLabel]="floatLabel" [hideRequiredMarker]="!required">
    <input matInput [matDatepicker]="picker" [placeholder]="placeholder" [required]="required" type="tel" [name]="name"
        (blur)="onBlur()" (click)="picker.open()" [disabled]="disabled" [max]="max" [min]="min" [(ngModel)]="calendarValue"
        #inputModelRef="ngModel">
    <mat-hint *ngIf="!calendarValue">DD / MM / YYYY</mat-hint>
    <mat-error *ngIf="inputModelRef?.invalid && (inputModelRef?.dirty || inputModelRef?.touched)">
        <span *ngIf="inputModelRef?.errors?.required">Fill date in DD / MM / YYYY</span>
        <span *ngIf="inputModelRef?.errors?.matDatepickerMax">Date after {{ max | date: 'dd/MM/yyyy'}} is not
            acceptable</span>
        <span *ngIf="inputModelRef?.errors?.matDatepickerMin">Date before {{ min | date: 'dd/MM/yyyy'}} is not
            acceptable</span>
    </mat-error>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker [color]="state" [startView]="startView"></mat-datepicker>
</mat-form-field>
