.ts-radios {
    display: flex;
    flex-direction: column;
    &__item{
        margin: 0.5rem 0;
        padding: 0 0.5rem;
    }
    &--row{
        flex-direction: row;
        flex-wrap: wrap;
    }
}