<mat-form-field [floatLabel]="floatLabel" [hideRequiredMarker]="!required">
    <input matInput [autofocus]="autofocus" type="tel" [placeholder]="placeholder" [required]="required"
        [(ngModel)]="timeValue" [name]="name" (blur)="onBlur()" [pattern]="pattern" trim="blur" #inputModelRef="ngModel"
        (keyup)="onKeyEventHandler($event)" maxlength="8">
    <mat-hint *ngIf="!timeValue">HH:mm:ss</mat-hint>
    <mat-error *ngIf="inputModelRef?.invalid && (inputModelRef?.dirty || inputModelRef?.touched)">
        <span>Fill time in HH:mm:ss</span>
    </mat-error>
</mat-form-field>