<form #formElement="ngForm" novalidate autocomplete="off" (ngSubmit)="onSubmit()">
  <ts-input-text [placeholder]="'Please enter your name'" [required]="true" [(ngModel)]="myName" [name]="'name'"></ts-input-text>
  <p>Value: {{myName}}</p>

  <ts-select [placeholder]="'Please select your gender'" [required]="true" [(ngModel)]="myGender" [name]="'gender'" [options]="options" modelObject="true" disabled="true"></ts-select>
  <p>Value: {{myGender}}</p>

  <ts-input-card [placeholder]="'Please enter card number'" [required]="true" [(ngModel)]="myCard" [name]="'card'"></ts-input-card>
  <p>Value: {{myCard}}</p>

  <ts-input-expiry [placeholder]="'Please enter card expiry'" [required]="true" [(ngModel)]="myExpiry" [name]="'expiry'"></ts-input-expiry>
  <p>Value: {{myExpiry}}</p>

  <ts-input-cvc [placeholder]="'Please enter card CVC'" [required]="true" [(ngModel)]="myCVC" [name]="'cvc'"></ts-input-cvc>
  <p>Value: {{myCVC}}</p>

  <ts-box-radio name="myRadio" value="actionValue1" text="Action 1" color="purple" [(ngModel)]="myRadio" [required]="true" imageSource="favicon.ico"></ts-box-radio>
  <ts-box-radio name="myRadio" value="actionValue2" text="Action 2" color="purple" [(ngModel)]="myRadio" [required]="true" imageSource="favicon.ico"></ts-box-radio>
  <p>Value: {{myRadio}}</p>

  <ts-progress-spinner>Loading...</ts-progress-spinner>

  <ts-button text="Proceed" [disabled]="formElement.invalid" width="100%" [(progress)]="showError"></ts-button>

  <p>Form Valid: {{formElement.valid}}, Touched: {{formElement.touched}}</p>
</form>

<div>
  <i class="tsi tsi-currency-inr"></i><br>
  <i class="tsi tsi-currency-usd"></i><br>
  <i class="tsi tsi-currency-aud"></i><br>
  <i class="tsi tsi-currency-thb"></i><br>
  <i class="tsi tsi-currency-gbp"></i><br>
  <i class="tsi tsi-currency-eur"></i><br>
  <i class="tsi tsi-currency-jpy"></i><br>
  <i class="tsi tsi-currency-idr"></i><br>
</div>
