.ts-checkboxes {
    display: flex;
    flex-direction: column;
    &__item{
        margin: 0.5rem 0;
    }
    &--row{
        flex-direction: row;
        .ts-checkboxes__item+.ts-checkboxes__item {
            margin-left: 1rem;
        }
    }
}