<div class="ts-file-upload">
    <div *ngIf="!uploadedFile">
        <label for="file-upload" class="file-upload">Upload File</label>
        <input id="file-upload" type="file" (change)="setUploadedFileValue($event)" />
    </div>
    <div *ngIf="uploadedFile" class="show-progress-bar">
        <img src="../../../../../assets/images/multi-file.svg" alt="" class="file-icon" />
        <div class="progress-bar">
            <span>{{uploadedFile.name}}</span>
            <progress value="{{uploadPercentage}}" max="100" *ngIf="!uploadComplete"></progress>
        </div>
        <img class="delete-file" src="../../../../../assets/images/cancel.svg" alt=""
            (click)="deleteUploadedFileValue()" />
    </div>
</div>